PORT=8080

# Google Drive API settings
# You need either an API Key OR a Service Account.
# If the Google Drive folder is public (anyone with the link can view), you can just use an API Key.
GOOGLE_API_KEY=""

# If the folder is private, use a Service Account
GOOGLE_SERVICE_ACCOUNT_EMAIL=""
GOOGLE_PRIVATE_KEY=""

# The ID of the Root folder where the categories are located
POWERPOINTS_FOLDER_ID=""
